//Color

$primaryClr: #ffffff;
$secondayClr: #225acb;
$themeClr: #cfe2ff;
$baseClr: #707070;
$blackClr: #000000;
$bgColor: #fafafb;

//font weight

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

//breakpoints

$mobile-breakpoint: 767px;
$tablet-breakpoint: 992px;
$desktop-breakpoint: 1024px;
$xlDesktop-breakpoint: 1400px;
