.mod-capital{
    .content{
        .title{
            font-size: 60px;
            display: inline-block;
            position: relative;
            &::after{
                content: url(../../image/dotBlue.svg);
                position: absolute;
                top: -25px;
                right: 33px;
            }
        }
        .flex{
            display: flex;
        }
    }
    .image{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .background{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .video-animation{
                display: flex;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-color: rgba(255,255,255,.8);
                position: absolute;
                justify-content: center;
                align-items: center;
                opacity: 0;
                background-clip: padding-box;
                -webkit-animation: waves 3s ease-in-out infinite;
                animation: waves 3s ease-in-out infinite;
                &.circle1{
                    -webkit-animation-delay: 0s;
                    animation-delay: 0s;
                }
                &.circle2{
                    -webkit-animation-delay: 1s;
                    animation-delay: 1s;
                }
                &.circle3{
                    -webkit-animation-delay: 2s;
                    animation-delay: 2s;
                }
            }
            
        }
        .play{
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: $primaryClr;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .icon{
                font-size: 25px;
                margin-left: 5px;
            }
        }
    }
}
@media only screen and (max-width:$desktop-breakpoint) {
    .mod-capital{
        .content{
            .title{
                font-size: 48px;
                &::after{
                    top: -10%;
                    right: 15px;
                }
            }
        }
    }
}
@media only screen and (max-width:$tablet-breakpoint) {
    .mod-capital{
        .content{
            .title{
                font-size: 48px;
                &::after{
                    top: 0%;
                    right: -20%;
                }
            }
        }
    }
}
@media only screen and (max-width:$mobile-breakpoint) {
    .mod-capital{
        .content{
            .title{
            font-size: 36px;
            &::after{
                top: 5%;
                right: -25%;
            }
            }
        }
    }
}


@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}