.bs-range{
    .rangeslider{
        border-radius: 0;
        height: 5px;
        box-shadow: none;
        .rangeslider__fill{
            border-radius: 0;
            background-color: $secondayClr;
            box-shadow: none;
        }
        .rangeslider__handle{
            box-shadow: none;
            width: 25px;
            height: 25px;
            border: 1px solid rgba($color: #000000, $alpha: 16%);
            border-radius: 30px;
            top: 50%;
            background-color: $primaryClr;
            transform: translate3d(-50%, -50%, 0);
            &::after{
                content: ' ';
                position: absolute;
                width: 15px;
                height: 15px;
                top: 4px;
                left: 4px;
                border-radius: 50%;
                background-color: $secondayClr;
                box-shadow: none;
            }
            .rangeslider__handle-label{
                &::after{
                    display: none;
                }
            }
        }
        .rangeslider__labels{

        }
    }
}